*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.shayan{
    background-color: black;
    width: 100%;
    height: 100px;
    display: flex;
}
.ul{
    list-style: none;
    display: flex;
}
.logo{
    height: 100px;
    margin-top: 10px;
}
.bg-img{
    height: 84.6vh;
    width: 100vw;
    background-size: cover;
}
.img{
    background-image: url("/public/images/11.jpeg");
}