*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}
.shayan{
    background-color: black;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
}
.ul{
    list-style: none;
    display: flex;
    color: white;
    column-gap: 60px;
    margin-top: 40px;
    font-size: 18px;
}
li{
    cursor: pointer;
    color: white;
}
.logo{
    height: 80px;
    background: #000;
    /* margin-left: -50px; */
}
.corner{
    font-size: 70px;
    font-family: sans-serif;
}
.click{
    font-family: sans-serif;
    font-size: 22px;
    margin-top: 15px;
}
.order{
    color: white;
    background: #000;
    border: none;
    height: 30px;
    width: 110px;
    border-radius: 4px;
    margin-top: 30px;
    cursor: pointer;
}
.text{
    margin-left: 40px;
    margin-top: 250px;
    position: absolute;
}
.footer{
    background: #000;
}
.footer .icons i{
    color: white;
    font-size: 35px;
    overflow: hidden;
}
.footer .icons{
    display: flex;
    justify-content: center;
    column-gap: 40px;
    margin-top: 50px;
}
.com{
    color: white;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}